name: Copy Files to Team Repositories

on:
  push:
    branches: [ main ]
    paths:
      - 'License.md'
      - 'openAPIs/**'
  workflow_dispatch:
    inputs:
      repo_name:
        description: |
          You can specify name of the repository where workflows should be pushed manually. As long as repository is not ignored by workflow settings.
          If you do not specify exact repository name, the workflow will try to replicate all missing changes to all repositories.
        required: false

jobs:
  # This replicates all Licenses to repos with the production topic
  replicate_license:
    name: Replicate License in all repositories
    runs-on: ubuntu-latest
    environment: copyFiles
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Replicating file
      uses: derberg/copy-files-to-other-repositories@v1.0.0
      with:
        github_token: ${{ secrets.GH_TOKEN }}
        patterns_to_include: License.md
        committer_username: asyncapi-bot
        committer_email: info@asyncapi.io
        commit_message: "chore: update License.md"
        topics_to_include: gnu-v2

  # This replicates all openAPIs to repos with the openapi3 topic
  replicate_openAPIs:
    name: Replicate openAPIs to all repositories
    runs-on: ubuntu-latest
    environment: copyFiles
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Replicating file
      uses: derberg/copy-files-to-other-repositories@v1.0.0
      with:
        github_token: ${{ secrets.GH_TOKEN }}
        patterns_to_include: openAPIs/**
        committer_username: asyncapi-bot
        committer_email: info@asyncapi.io
        commit_message: "chore: update openAPIs"
        topics_to_include: openapi3